@model FoodDA.Models.Cmt

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cmt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaiViet.TenBaiViet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaiViet.TenBaiViet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.TenND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.TenND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
