@using FoodDA.Models
@using PagedList.Mvc
@model PagedList.IPagedList<SanPham>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListBaiViet</title>
    <link href="~/Content/Trang chu/TrangChu.css" rel="stylesheet" />
    <link href="~/Content/Trang chu/ListBaiViet.css" rel="stylesheet" />
    <link href="~/Content/Trang chu/ListSanPham.css" rel="stylesheet" />
    <link href="~/Content/Trang chu/ListLoaiSanPham.css" rel="stylesheet" />
    <link href="~/Content/Trang chu/PageList.css" rel="stylesheet" />
    <script src="~/Content/JavaScript/jquery-3.2.1.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <script>
        jQuery(document).ready(function () {
            jQuery('.home__myself').click(function () {
                jQuery('.Trangcanhan').toggleClass('Trangcanhan__show')
            })
            jQuery('#Header__menu__info').click(function () {
                jQuery('.nav.navbar-nav.navbar-right').toggleClass('nav.navbar-navnavbar-right__show')
            })
            jQuery('#Header__menu__info').click(function () {
                jQuery('.Sucess').toggleClass('Sucess__show')
            })
            jQuery('#dangky').click(function () {
                jQuery('.DangNhappartial').removeClass('DangNhappartial__show')
                jQuery('.DangKypartial').toggleClass('DangKypartial__show')
                jQuery('.ForgotPasswordpartial').removeClass('ForgotPasswordpartial__show')
            })
            jQuery('#dangnhap').click(function () {
                jQuery('.DangKypartial').removeClass('DangKypartial__show')
                jQuery('.DangNhappartial').toggleClass('DangNhappartial__show')
                jQuery('.ForgotPasswordpartial').removeClass('ForgotPasswordpartial__show')
            })
            jQuery('#quenmatkhau').click(function () {
                jQuery('.DangNhappartial').removeClass('DangNhappartial__show')
                jQuery('.DangKypartial').removeClass('DangKypartial__show')
                jQuery('.ForgotPasswordpartial').toggleClass('ForgotPasswordpartial__show')
            })
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop()) {
                    jQuery('.Header__menu').addClass('sticky5');
                    jQuery('.Header__menu__list').addClass('sticky');
                    jQuery('.Header__logo').addClass('sticky1');
                    jQuery('li.haha').addClass('sticky2');
                    jQuery('.fa-align-justify').addClass('sticky3');
                    jQuery('.introduce').addClass('.introduce__sticky');
                    jQuery('.Trangcanhan').addClass('.Trangcanhan__sticky');
                    jQuery('.radius__border').addClass('.radius__border__sticky');
                    jQuery('.a__home--hover').addClass('.a__home--hover--sticky');
                }
                else {
                    jQuery('.Header__menu').removeClass('sticky5');
                    jQuery('.Header__menu__list').removeClass('sticky');
                    jQuery('.Header__logo').removeClass('sticky1');
                    jQuery('li.haha').removeClass('sticky2');
                    jQuery('.fa-align-justify').removeClass('sticky3');
                    jQuery('.introduce').removeClass('.introduce__sticky');
                    jQuery('.Trangcanhan').removeClass('.Trangcanhan__sticky');
                    jQuery('.radius__border').removeClass('.radius__border__sticky');
                    jQuery('.a__home--hover').removeClass('.a__home--hover--sticky');
                }
            })
        })
    </script>
</head>
<body>
    <header id="Header">
        <div class="Header__menu">
            <div class="Header__logo"></div>
            <ul class="Header__menu__list">
                <li class="haha"><a href="@Url.Action("SanPhamList", "SanPham")">Sản phẩm</a></li>
                <li class="haha"><a href="@Url.Action("ListBaiViet", "BaiViets")">Công thức nấu ăn</a></li>
                <li class="haha"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="haha"><a href="@Url.Action("DungCuLamBepList", "SanPham")">Dụng cụ nhà bếp</a></li>
                <li class="haha"><a href="@Url.Action("GioHang", "GioHang")">Giỏ hàng (@Html.Action("GioHangPartial", "GioHang"))</a></li>
            </ul>
        </div>
        <h2 class="CONGTHUCNAUAN__LIST"><a class="CongThucNauAn" href="@Url.Action("DungCuLamBepList", "SanPham")">Dụng cụ làm bếp</a></h2>
        <div class="Partialview__Loai__SP__CT">
            <div class="List__Loai__SP__partial">@Html.Action("ListLoaiSanPham", "SanPham")</div>
            <div class="List__Loai__SP__partial">@Html.Action("ListBaiVietChuDe", "BaiViets")</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="List__BaiViet">
                <div class="Header">
                    <div class="tin__all__BaiViet">
                        <div class="Border__List__baiViet"></div>
                        <div class="background__shadow__List__baiViet"></div>
                        <div class="Header__NoiDung__BaiViet__TenBaiViet"><a class="a__list__baiviet" href="@Url.Action("XemChiTietSanPham","SanPham",new {@IdSanPham=item.IdSanPham })">@item.TenSP</a></div>
                        <div class="Header__img__BaiViet">
                            <img alt="@item.HinhAnh1" src="~/IMG/IMGSamPham/@item.HinhAnh1" class="Header__img__BaiViet__HA1" />
                            <img alt="@item.HinhAnh2" src="~/IMG/IMGSamPham/@item.HinhAnh2" class="Header__img__BaiViet__HA2" />
                        </div>
                    </div>
                    <div class="Header__NoiDung__BaiViet">
                        <div class="Header__NoiDung__BaiViet__Mota">
                            MÔ TẢ:<div style="height: 100px;display: block;text-overflow: ellipsis;overflow: hidden;">@item.MoTa</div> ...
                            <div class="Prince__Produce__List">Giá tiền: @item.Gia</div>
                        </div>
                    </div>
                </div>
                <div class="NoiDung__BaiViet">

                </div>
            </div>
        }
    </header>
    <div class="MenuTrang" style="display:inline">
        Trang @(Model.PageCount<Model.PageNumber ? 0:Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("DungCuLamBepList", "SanPham", new { page = page }))
    </div>
</body>
</html>
