@using FoodDA.Models;
@model SanPham
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XemChiTietBaiViet</title>
    <link href="~/Content/Trang chu/TrangChu.css" rel="stylesheet" />
    <link href="~/Content/Trang chu/SanPhamChiTiet.css" rel="stylesheet" />
    <link href="~/Content/Trang chu/ListBaiViet.css" rel="stylesheet" />
    <link href="~/Content/Trang chu/ListLoaiSanPham.css" rel="stylesheet" />
    <script src="~/Content/JavaScript/jquery-3.2.1.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />

    <style>
        .NoiDungChiTietSanPham {
            margin: unset!important;
            width: 70%;
            display: inline-block;
            padding-left: 50px;
        }

        .Partialview__Loai__SP__CT {
            position: unset!important;
            top: unset!important;
            left: unset;

            width: 20%!important;
            display: inline-block;
            margin-left: 5%;
        }

        .remove-bg-child {
            background-color: rgba(255, 255, 255, 0) !important;
        }

            .remove-bg-child * {
                background-color: rgba(255, 255, 255, 0) !important;
            }

            .remove-bg-child > * {
                background-color: rgba(255, 255, 255, 0) !important;
            }
        .Them__gio__hang {
            left: unset;
            top: unset;
            position: relative!important;
            margin-left: 50px!important;
        }

        .GiaTien__SanPham {
            left: unset;
            top: unset;
            font-size: 25px;
            margin-left: 46px;
            font-family: monospace;
            position: relative;
        }
    </style>
    <script>
        jQuery(document).ready(function () {
            jQuery('.home__myself').click(function () {
                jQuery('.Trangcanhan').toggleClass('Trangcanhan__show')
            })
            jQuery('#Header__menu__info').click(function () {
                jQuery('.nav.navbar-nav.navbar-right').toggleClass('nav.navbar-navnavbar-right__show')
            })
            jQuery('#Header__menu__info').click(function () {
                jQuery('.Sucess').toggleClass('Sucess__show')
            })
            jQuery('#dangky').click(function () {
                jQuery('.DangNhappartial').removeClass('DangNhappartial__show')
                jQuery('.DangKypartial').toggleClass('DangKypartial__show')
                jQuery('.ForgotPasswordpartial').removeClass('ForgotPasswordpartial__show')
            })
            jQuery('#dangnhap').click(function () {
                jQuery('.DangKypartial').removeClass('DangKypartial__show')
                jQuery('.DangNhappartial').toggleClass('DangNhappartial__show')
                jQuery('.ForgotPasswordpartial').removeClass('ForgotPasswordpartial__show')
            })
            jQuery('#quenmatkhau').click(function () {
                jQuery('.DangNhappartial').removeClass('DangNhappartial__show')
                jQuery('.DangKypartial').removeClass('DangKypartial__show')
                jQuery('.ForgotPasswordpartial').toggleClass('ForgotPasswordpartial__show')
            })
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop()) {
                    jQuery('.Header__menu').addClass('sticky5');
                    jQuery('.Header__menu__list').addClass('sticky');
                    jQuery('.Header__logo').addClass('sticky1');
                    jQuery('li.haha').addClass('sticky2');
                    jQuery('.fa-align-justify').addClass('sticky3');
                    jQuery('.introduce').addClass('.introduce__sticky');
                    jQuery('.Trangcanhan').addClass('.Trangcanhan__sticky');
                    jQuery('.radius__border').addClass('.radius__border__sticky');
                    jQuery('.a__home--hover').addClass('.a__home--hover--sticky');
                }
                else {
                    jQuery('.Header__menu').removeClass('sticky5');
                    jQuery('.Header__menu__list').removeClass('sticky');
                    jQuery('.Header__logo').removeClass('sticky1');
                    jQuery('li.haha').removeClass('sticky2');
                    jQuery('.fa-align-justify').removeClass('sticky3');
                    jQuery('.introduce').removeClass('.introduce__sticky');
                    jQuery('.Trangcanhan').removeClass('.Trangcanhan__sticky');
                    jQuery('.radius__border').removeClass('.radius__border__sticky');
                    jQuery('.a__home--hover').removeClass('.a__home--hover--sticky');
                }
            })
        })
    </script>
</head>
<body>
    <header id="Header">
        <div class="Header__menu">
            <div class="Header__logo"></div>
            <ul class="Header__menu__list">
                <li class="haha"><a href="@Url.Action("SanPhamList", "SanPham")">Sản phẩm</a></li>
                <li class="haha"><a href="@Url.Action("ListBaiViet", "BaiViets")">Công thức nấu ăn</a></li>
                <li class="haha"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="haha"><a href="@Url.Action("DungCuLamBepList", "SanPham")">Dụng cụ nhà bếp</a></li>
                <li class="haha"><a href="@Url.Action("GioHang", "GioHang")">Giỏ hàng (@Html.Action("GioHangPartial", "GioHang"))</a></li>
            </ul>
        </div>
        <div class="NoiDung__ChiTietSanPham">
            <div class="NoiDungChiTietSanPham">
                <div class="TenSanPham">
                    <h2 class="h2__TenSanPham">Tên Sản Phẩm: @Model.TenSP</h2>
                </div>
                <hr />
                <div class="HA1__SanPham">
                    <div class="pageMoTa__SanPham">
                        <img alt="@Model.HinhAnh1" src="~/IMG/IMGSamPham/@Model.HinhAnh1" class="HA1__SanPham__Chitiet" />
                        <img alt="@Model.HinhAnh2" src="~/IMG/IMGSamPham/@Model.HinhAnh2" class="HA2__SanPham__Chitiet" />
                        @*SubsTring mo ta*@
                        <div class="MoTa__SanPham">
                            <div class="remove-bg-child" style="height: 100%; display: block; text-overflow: ellipsis; overflow: hidden;">
                                @Html.Raw(@Model.MoTa)
                            </div>
                        </div>
                    </div>
                    <div class="Cart">
                        <div class="GiaTien__SanPham">Giá:@String.Format("{0:0,0}", Model.Gia) VND</div>
                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @idSanPham = Model.IdSanPham, @strURL = Request.Url.ToString() }))
                        {
                            <div class="Them__gio__hang">
                                <i class="fas fa-shopping-cart"></i>
                                <input type="submit" value="Thêm sảm phẩm" id="btnGioHang" class="add__Cart" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="Partialview__Loai__SP__CT">
                <div class="List__Loai__SP__partial">@Html.Action("ListLoaiSanPham", "SanPham")</div>
                <div class="List__Loai__SP__partial">@Html.Action("ListBaiVietChuDe", "BaiViets")</div>
            </div>
        </div>
        <div class="Partial__ChuDe">

        </div>
    </header>
</body>
</html>
<style>
    .Partialview__Loai__SP__CT {
        top: 90px;
    }
</style>
